<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stack Multipurpose HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Site Description Here" />
    <%- include('./includes/link.ejs') %>
  </head>
  <body class=" ">
    <%- include('./includes/header.ejs') %>
    <div class="main-container">
      <section class="text-center imagebg space--lg" data-overlay="3">
        <div class="background-image-holder">
          <img alt="background" src="img/landing-21.jpg" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-lg-6">
              <h1>Hi, We're Stack</h1>
              <p class="lead">
                An innovative collective of like-minded folks making useful and
                enduring technology products
              </p>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
              <h2>Built on passion and ingenuity</h2>
              <p class="lead">
                Medium Rare is an elite author known for offering high-quality,
                high-value products backed by timely and personable support.
                Recognised and awarded by Envato on multiple occasions for
                producing consistently outstanding products, it's no wonder over
                20,000 customers enjoy using Medium Rare templates.
              </p>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <div
                class="slider border--round"
                data-arrows="true"
                data-paging="true"
              >
                <ul class="slides">
                  <li>
                    <img alt="Image" src="img/gallery-1.jpg" />
                  </li>
                  <li>
                    <img alt="Image" src="img/cowork-1.jpg" />
                  </li>
                  <li>
                    <img alt="Image" src="img/cowork-5.jpg" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="text-center bg--secondary">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
              <h2>What drives us</h2>
              <p class="lead">
                Whether you’re building a welcome mat for your SaaS or a clean,
                corporate portfolio,Weddinghas your design needs covered.
              </p>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="bg--secondary">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="feature">
                <h4>Inclusion</h4>
                <p>
                  With rich modal and notification functionality and a robust
                  suite of options,Weddingmakes building feature-heavy pages
                  simple and enjoyable.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h4>Ingenuity</h4>
                <p>
                  Drastically reduce the time it takes to move from initial
                  concept to production-ready withWeddingand Variant Page
                  Builder. Your clients will love you for it!
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature">
                <h4>Innovation</h4>
                <p>
                  Our customers love the comfort that comes with six-months free
                  support. Our dedicated support forum makes interacting with us
                  hassle-free and efficient.
                </p>
              </div>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
              <h2>Meet the makers</h2>
              <p class="lead">
                Whether you’re building a welcome mat for your SaaS or a clean,
                corporate portfolio,Weddinghas your design needs covered.
              </p>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="feature feature-8">
                <img alt="Image" src="img/avatar-round-1.png" />
                <h5>Vera Duncan</h5>
                <span>Founder &amp; CEO</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature feature-8">
                <img alt="Image" src="img/avatar-round-3.png" />
                <h5>Zach Smith</h5>
                <span>Co-Founder &amp; CTO</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature feature-8">
                <img alt="Image" src="img/avatar-round-2.png" />
                <h5>Bernice Lucas</h5>
                <span>Chief of Operations</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature feature-8">
                <img alt="Image" src="img/avatar-round-4.png" />
                <h5>Cameron Nguyen</h5>
                <span>Lead Designer</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature feature-8">
                <img alt="Image" src="img/avatar-round-5.png" />
                <h5>Josie Web</h5>
                <span>Head of Development</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature feature-8">
                <img alt="Image" src="img/avatar-round-6.png" />
                <h5>Bryce Vaughn</h5>
                <span>Marketing Director</span>
              </div>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section class="text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
              <div class="cta">
                <h2>We're always looking for talent</h2>
                <p class="lead">
                  Got what it takes to work with us? Great! Send us a link to
                  your resumé or portfolio to become part of our talent pool.
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                  <span class="btn__text">
                    See Job Openings
                  </span>
                </a>
              </div>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <%- include('./includes/footer.ejs') %>
    </div>
    <!--<div class="loader"></div>-->
    <a
      class="back-to-top inner-link"
      href="#start"
      data-scroll-class="100vh:active"
    >
      <i class="stack-interface stack-up-open-big"></i>
    </a>
    <%- include('./includes/script.ejs') %>
  </body>
</html>
